<div id="carousel" class="carousel slide terciary-color mt-5" data-bs-ride="carousel">
    <!-- Imagens no carousel -->
    <div class="carousel-inner text-center d-flex">
      <div class="carousel-item active" data-bs-interval="10000">
        <img class="col-4 col-lg-2" src="{{ logo }}" alt="...">
      </div>
      <div class="carousel-item text-center" data-bs-interval="2000">
        <img class="col-4 col-lg-2" src="{{ logo }}" alt="...">
      </div>
      <div class="carousel-item text-center">
        <img class="col-4 col-lg-2" src="{{ logo }}" alt="...">
      </div>
    </div>

    <!-- Botões de controlo -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>