<div class="row row-cols-3 p-4 carbon-fibre-background">
      <div class="trabalho col-4">
        <img class="image d-flex align-items-center" src="url_for('static', filename='images/calorie.png')" alt="Calorie logo">
        <div class="overlay">
          <div class="text text-center p-1">
            <h5>Calorie</h5>
            <p>Calculadora de macros.</p>
            <p>Java, JavaFX</p>
            <button class="btn btn-primary" onclick="#">Learn More</button>
          </div>
        </div>
      </div>
      <div class="trabalho d-flex align-items-center col-4">
        <img class="image" src="url_for('static', filename='images/geocaching.png')" alt="Geocaching logo">
        <div class="overlay">
          <div class="text text-center p-1">
            <h5>Geocaching</h5>
            <p>Aplicação de Geocaching</p>
            <p>Java, JavaFX</p>
            <button class="btn btn-primary" onclick="#">Learn More</button>
          </div>
        </div>
      </div>
      <div class="trabalho d-flex align-items-center col-4">
        <img class="image" src="url_for('static', filename='images/pageguild.png')" alt="PageGuild logo">
        <div class="overlay">
          <div class="text text-center p-1">
            <h5>PageGuild</h5>
            <p>Loja de livros Online</p>
            <p>Laravel, PHP, Bootstrap, MVC</p>
            <button class="btn btn-primary" onclick="#">Learn More</button>
          </div>
        </div>
      </div>
      <div class="trabalho d-flex align-items-center col-4">
        <img class="image" src="url_for('static', filename='images/kcal.png')" alt="Kcal logo">
        <div class="overlay">
          <div class="text text-center p-1">
            <h5>Kcal</h5>
            <p>Calculadora de macros</p>
            <p>HTML, CSS, JavaScript, JQuery</p>
            <button class="btn btn-primary" onclick="#">Learn More</button>
          </div>
        </div>
      </div>
    </div>
