<div class="row row-cols-3 p-4 mx-0 carbon-fibre-background">
      {% with title="Calorie", description="Calculadora de macros.", keywords="Java, JavaFX", url=url_for('static', filename='images/calorie.png') %}
        {% include '/includes/workTemplate.html' %}
      {% endwith %}

      {% with title="Geocaching", description="Aplicação de Geocaching", keywords="Java, JavaFX", url=url_for('static', filename='images/geocaching.png') %}
        {% include '/includes/workTemplate.html' %}
      {% endwith %}

      {% with title="PageGuild", description="Loja de livros Online", keywords="Laravel, PHP, Bootstrap, MVC", url=url_for('static', filename='images/pageguild.png') %}
        {% include '/includes/workTemplate.html' %}
      {% endwith %}

      {% with title="Kcal", description="Calculadora de macros.", keywords="HTML, CSS, JavaScript, JQuery", url=url_for('static', filename='images/kcal.png') %}
        {% include '/includes/workTemplate.html' %}
      {% endwith %}
</div>
