<div class="trabalho col-4">
  <img class="image d-flex align-items-center" src="{{ url }}" alt="Calorie logo">
  <div class="overlay">
    <div class="text text-center p-1">
      <h5>{{ title }}</h5>
      <p>{{ description }}</p>
      <p>{{ keywords }}</p>
      <button class="btn btn-primary" onclick="#">Learn More</button>
    </div>
  </div>
</div>
