<div class="modal fade" id="editsection{{ section[0] }}" tabindex="-1" aria-labelledby="editSection{{ section[0] }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
        <form method="post" action="{{ url_for('updateRoute', table='section') }}">
          {% with input='section_id' , value=section[0] , placeholder='Project ID' %}
            {% include "/includes/inputForm.html" %}
          {% endwith %}
          {% with input='title' , value=section[1] , placeholder='Project Name' %}
            {% include "/includes/inputForm.html" %}
          {% endwith %}
          {% with input='image_file_id' , models=images %}
            {% include "/includes/selectForm.html" %}
          {% endwith %}
          {% with input='content_file_id' , models=files %}
            {% include "/includes/selectForm.html" %}
          {% endwith %}
          {% with input='project_id' , models=projects %}
            {% include "/includes/selectForm.html" %}
          {% endwith %}

          <input class="mt-5" type="submit" data-bs-dismiss="modal">
        </form>   
      </div>
    </div>
  </div>
</div>