<div class="modal fade" id="editproject{{ project[0] }}" tabindex="-1" aria-labelledby="editProject{{ project[0] }}Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">      
        <div class="modal-body">
          <form method="post" action="{{ url_for('updateRoute', table='project') }}">
              {% with input='project_id' , value=project[0] , placeholder='Project ID' %}
                  {% include "/includes/inputForm.html" %}
              {% endwith %}
              {% with input='name' , value=project[1] , placeholder='Project Name' %}
                  {% include "/includes/inputForm.html" %}
              {% endwith %}
              {% with input='logo_file' , value=project[2] , placeholder='Project logo_file' %}
                  {% include "/includes/inputForm.html" %}
              {% endwith %}
              {% with input='description' , value=project[3] , placeholder='Project description' %}
                  {% include "/includes/inputForm.html" %}
              {% endwith %}
              {% with input='keywords' , value=project[4] , placeholder='Project keywords' %}
                  {% include "/includes/inputForm.html" %}
              {% endwith %}
              <input type="submit">
          </form>   
        </div>
      </div>
    </div>
  </div>