{% extends "/layouts/project.html" %}

{% block title %}PageGuild | Wiki{% endblock %}

{% block header %}
    {% include '/calorie/carousel.html' %}
    <h2 class="text-center project-page-title">PageGuild</h2>
{% endblock %}
    
{% block body %}
    <div class="col-md-12 col-lg-10" data-bs-spy="scroll" data-bs-target="#navbar-scrollspy" data-bs-offset="0" tabindex="0">
        <article class="row row-cols-1 justify-content-center mx-0">
            {% with title="Resumo", id="Resumo" %}
                {% set paragraphs = ["Neste projeto pretendemos desenvolver um website responsivo, cujo tema é uma livraria online, semelhante às conhecidas Bertrand, Wook, entre outras…",
                                    "O website pode ser dividido em três partes : Utilizadores, Pagamentos, Artigos.",
                                    "Relativamente aos Utilizadores, teremos funcionalidades para registar utilizadores novos, Log In’s e edição das informações dos mesmos(morada, contacto, método de pagamento associado,etc...). Teremos também um “Vendedor”, que qualquer usuário pode ser, passando por um processo de registo, onde o usuário-vendedor pode vender os seus próprios artigos na loja. Utilizadores poderão, também, subscrever os seus autores preferidos, para estarem a par de novos lançamentos.",
                                    "Quanto aos pagamentos, o utilizador pode escolher um método de pagamento, definir a morada de entrega, e consultar a todo o momento o estado do envio. Vendas serão registradas, verificadas e ,se for o caso, confirmadas.",
                                    "Por fim, artigos representam todo o tipo de artigos vendidos na loja. Por agora, apenas Ebooks e Livros estão disponíveis, porém não descartamos a possível venda de outro tipo de artigos num futuro breve. Artigos poderão ser pesquisados e consultados no site por qualquer tipo de utilizador, inclusive aqueles que não se encontram registados(caso queiram efetuar a compra, terão que iniciar sessão). Outros tipos de pesquisa poderão ser feitos, gêneros/categorias, autores, editores. Estes artigos podem ser avaliados por clientes da loja, e adicionados às suas listas de desejos para saberem quando os seus artigos favoritos estão em promoção",
                                    ] %}
                {% include '/includes/section.html' %}
            {% endwith %}

            {% with title="Modelo E-R", id="Modelo-E-R", img_url=url_for('static', filename='images/Modelo_E-R.png') %}
                {% set paragraphs = ["Nota.: A associação entre o Item e o Users, para as funcionalidades de carrinho de compras, lista de reservas, lista de desejos, é feita por uma biblioteca do laravel que gere automaticamente toda essa parte de carrinhos."] %}
                {% include '/includes/section.html' %}
            {% endwith %}

            {% with title="Diagrama casos de uso", id="Casos-De-Uso", img_url=url_for('static', filename='images/Use_Cases.png') %}
                {% set paragraphs = ["No diagrama de casos de uso existem 4 atores primários e 1 ator secundário.",
                                    "Visitor é um visitante, qualquer pessoa que aceda à loja sem sessão iniciada.",
                                    "Portanto, Logged User é um utilizador registado que iniciou a sessão. Um utilizador pode, ainda, registar-se como vendedor, passando por um processo de verificação.",
                                    "Por conseguinte, um Vendedor é um tipo de utilizador que já passou pelo processo de verificação e é elegível. O vendedor herda todas as funcionalidades do Logged User, e possui ainda a opção de vender os seus próprios artigos.",
                                    "Admin é um ator que representa os administradores do site, estes podem executar operações relativamente à gestão. Gerir artigos, editar informações, eliminar(ou desativar) artigos, bem como inserir e ativar/desativar promoções.",
                                    "Por ora, o ator secundário Attendant, apenas verifica as informações de um utilizador que pretende se tornar um vendedor, aprovando ou recusando, dependendo de regras a serem criadas para este processo."
                                    ] %}
                {% include '/includes/section.html' %}
            {% endwith %}

            {% with title="Diagrama de classes", id="Diagrama-Classes", img_url=url_for('static', filename='images/Diagrama_Classes_MVC.png') %}
                {% set paragraphs = ["Dado que, a ferramenta utilizada no projeto será o Laravel, uma framework de php, tivemos que reavaliar a forma como iremos implementar. Assim sendo, podemos ver o diagrama de classes subdividido em Model, View e Controller."] %}
                {% set subsections = [ 
                                        ['Model', ["No Model, encontramos todas as classes que representam as tabelas da base de dados, apresentada no Modelo E-R. Estas classes são carregadas com os valores na base de dados"]],
                                        ['View', ["Na View, encontra-se todas as interfaces(ou HTML) das páginas webs. Ou seja, tudo aquilo que o utilizador irá ver.."]],
                                        ['Controller', ["No Controller, encontramos todas as classes que implementam toda a lógica da aplicação. Ela é responsável por buscar dados aos modelos e mostrar ao utilizador nas views, inserir novos dados recebidos pelas views nos modelos, atualizar valores, etc…"]] 
                                    ] %}
                                    ] %}
                {% include '/includes/section.html' %}
            {% endwith %}

            {% with title="Diagrama de sequencia", id="Diagrama-Sequencia", img_url=url_for('static', filename='images/Search item.png') %}
                {% set paragraphs = ["Neste diagrama está representado todas as interações no sistema desde a pesquisa de um artigo até exibir a sua página de detalhes.",
                                    "Inicialmente, um utilizador logado procura um livro(por título, autor, gênero, etc...). A view(o que o utilizador vê, ou seja, a página web), pesquisa por qualquer combinação igual ao input do utilizador. Seguidamente, os resultados são retornados, e o utilizador pode escolher o livro. Por fim, a view pede pelas informações do artigo selecionado, e apresenta ao usuário."
                                    ] %}
                {% include '/includes/section.html' %}
            {% endwith %}
        </article>
    </div>

    <div class="justify-content-end mx-0 col-md-0 col-lg-2">
        {% with title="PageGuild" %}
            {%set indexes = [["Resumo", "Resumo"],
                             ["Modelo-E-R", "Modelo E-R"],
                             ["Casos-De-Uso", "Diagrama casos de uso"],
                             ["Diagrama-Classes", "Diagrama de classes"],
                             ["Diagrama-Sequencia","Diagrama de Sequencia"]
                            ] %}
            {% include '/includes/scrollspy.html' %}
        {% endwith %}
        </div>
{% endblock %}

{% block footer %}
    {% include '/includes/footer.html' %}
{% endblock %}