{% extends "/layouts/project.html" %}

{% block title %}Calorie{% endblock %}

{% block header %}
{% endblock %}
    
{% block body %}
<div class="row justify-content-center text-center align-items-center col-12 vh-100 m-0">
    <div class="col-8">
        <a href="{{ url_for('index') }}" class="d-block" style="text-decoration: underline; color:blue;">Go back</a>
        <img src="{{ url_for('static', filename='images/required/wip.gif') }}" alt="Work in progress..."/>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}